<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ctrl_cliente</servlet-name>
        <servlet-class>Controladores.ctrl_cliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validacionusuario</servlet-name>
        <servlet-class>Controladores.validacionusuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tipo_documento</servlet-name>
        <servlet-class>Controladores.tipo_documento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tipo_empleado</servlet-name>
        <servlet-class>Controladores.tipo_empleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>empleados</servlet-name>
        <servlet-class>Controladores.empleados</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ctrl_cliente</servlet-name>
        <url-pattern>/cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validacionusuario</servlet-name>
        <url-pattern>/valida.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tipo_documento</servlet-name>
        <url-pattern>/documento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tipo_empleado</servlet-name>
        <url-pattern>/roll.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>empleados</servlet-name>
        <url-pattern>/empleado.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
